h1
  {
      color: rgb(201, 15, 129); 
      font-size: 40px;
  }
.body_backgorund {
    background-image: url("bg1jpg");
    background-position: center;
    background-size: cover;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #260229;
    border: none;
    color: rgb(15, 219, 255);
    padding: 10px 42px;
    font-size: 16px; 
  }
